.representative-context-container {
  text-align: center;
}

.representative-context {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 1em;

  font-size: 1.2em;
  line-height: 1.4em;
}

.representative-context span {
  &::after {
    content: " ";
  }
}
