.timeline-container {
  text-align: center;
}

.timeline {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.timeline__day {
  position: relative;
}

.timeline__day__number {
  display: inline-block;

  margin-bottom: 0;
  margin-bottom: 0.1em;

  @include sans-serif-font;
  font-size: 2em;
  font-weight: bold;
}

.timeline__day__date {
  @include sans-serif-font;
  font-weight: bold;

  margin-bottom: 0.8em;
}

.timeline__day__label {
  margin-bottom: 0.6em;
}

.timeline__meeting {
  padding: 0.2em;
}

.timeline__meeting__official {
  font-weight: bold;
}

.timeline__meeting__official--d {
  @include democrat-color;
}

.timeline__meeting__official--r {
  @include republican-color;
}

.timeline__meeting__party--r {
  @include republican-color;
}

.timeline__meeting__party--d {
  @include democrat-color;
}

.timeline__meeting__type--facebook {
  @include sans-serif-font;
  font-weight: bold;
  background-color: #3d5b99;
  color: #fff;
  padding: 0.1em 0.15em;
  margin-left: 0.5em;
  &::after {
    content: '\00a0';
  }
}

.ahca-vote--yes {
  color: green;
}

.ahca-vote--no {
  color: red;
}
