@mixin sans-serif-font() {
  font-family: sans-serif;
}

@mixin republican-color() {
  color: #cc3d3d;
}

@mixin democrat-color() {
  color: #1a80c4;
}

@import 'timeline';
@import 'repsearch';
@import 'repcontext';
